:root {
  --mask-map: url("https://res.cloudinary.com/dunc6xvuh/image/upload/v1615472493/material/zMQthY-min_uwdl0s.png");
  --mask-map-cover: url("https://res.cloudinary.com/dunc6xvuh/image/upload/v1615472884/material/giphy-min_zxrkzp.gif");
  --google-search: url("https://res.cloudinary.com/dunc6xvuh/image/upload/v1615472491/material/40e6T3-min_r9iy9c.png");
  --google-search-cover: url("https://res.cloudinary.com/dunc6xvuh/image/upload/v1615472881/material/giphy_1_-min_xbo4er.gif");
  --whatsapp: url("https://res.cloudinary.com/dunc6xvuh/image/upload/v1615472492/material/FOnaop-min_sbahff.png");
  --whatsapp-cover: url("https://res.cloudinary.com/dunc6xvuh/image/upload/v1615472881/material/giphy_2_-min_ybnrdp.gif");
  --anotherbush-client: url("https://res.cloudinary.com/dunc6xvuh/image/upload/v1615472491/material/EYZn1U-min_jpgmnx.png");
  --anotherbush-client-cover: url("https://res.cloudinary.com/dunc6xvuh/image/upload/v1615472883/material/giphy_3_-min_kq6sio.gif");
  --anotherbush-server: url("https://res.cloudinary.com/dunc6xvuh/image/upload/v1615472492/material/woQyls-min_kgsnlh.png");
  --anotherbush-server-cover: url("https://res.cloudinary.com/dunc6xvuh/image/upload/v1615472882/material/giphy_4_-min_wzvkgd.gif");
  --heading-background: url("https://res.cloudinary.com/dunc6xvuh/image/upload/v1615472477/material/z9uE2Q-min_qnfbfi.jpg");
  --footer-background: url("https://res.cloudinary.com/dunc6xvuh/image/upload/v1615472476/material/acnEbx-min_sg2gzt.jpg");
}

.parallax {
  height: 140vh;
}
.parallax::before {
  content: " ";
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.mask-map {
  position: relative;
}
.mask-map::before {
  background: var(--mask-map) no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center center;
}

.react-layout-demo {
  position: relative;
}
.react-layout-demo::before {
  background: var(--google-search) no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center center;
}

.react-layout-demo2 {
  position: relative;
}
.react-layout-demo2::before {
  background: var(--whatsapp) no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center center;
}

.WebClient {
  position: relative;
}
.WebClient::before {
  background: var(--anotherbush-client) no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center center;
}

.WebServer {
  position: relative;
}
.WebServer::before {
  background: var(--anotherbush-server) no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center center;
}
