:root {
  --mask-map: url("https://upload.cc/i1/2021/03/10/zMQthY.png");
  --mask-map-cover: url("https://media.giphy.com/media/SIKbtE3OW7Hhp3NX4U/giphy.gif");
  --google-search: url("https://upload.cc/i1/2021/03/10/40e6T3.png");
  --google-search-cover: url("https://media.giphy.com/media/ekf8417Z32J7yIy83K/giphy.gif");
  --whatsapp: url("https://upload.cc/i1/2021/03/10/FOnaop.png");
  --whatsapp-cover: url("https://media.giphy.com/media/HFtCGJ0DdekNywnuku/giphy.gif");
  --anotherbush-client: url("https://upload.cc/i1/2021/03/11/EYZn1U.png");
  --anotherbush-client-cover: url("https://media.giphy.com/media/p99Unv3ayooVkU0Fyg/giphy.gif");
  --anotherbush-server: url("https://upload.cc/i1/2021/03/10/woQyls.png");
  --anotherbush-server-cover: url("https://media.giphy.com/media/earBQbsIEGjiwMncz6/giphy.gif");
  --heading-background: url("https://upload.cc/i1/2021/03/11/z9uE2Q.jpg");
}

.parallax {
  height: 140vh;
} .parallax::before {
  content: " ";
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.mask-map {
  position: relative;
} .mask-map::before {
  background: var(--mask-map) no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center center;
}

.react-layout-demo {
  position: relative;
} .react-layout-demo::before {
  background: var(--google-search) no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center center;
}

.react-layout-demo2 {
  position: relative;
} .react-layout-demo2::before {
  background: var(--whatsapp) no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center center;
}

.WebClient {
  position: relative;
} .WebClient::before {
  background: var(--anotherbush-client) no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center center;
}

.WebServer {
  position: relative;
} .WebServer::before {
  background: var(--anotherbush-server) no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center center;
}