.footer {
  position: relative;
  display: flex;
  flex-direction: column;
  text-align: center;
  height: 100vh;
  align-items: center;
}
.footer::before {
  background: var(--footer-background) no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center center;
  opacity: 0.4;
}

.footer__title {
  position: relative;
  font-family: fantasy;
  font-size: 3vw;
  top: 40%;
}
