.heading {
  position: relative;
  display: flex;
  flex-direction: column;
  text-align: center;
  height: 100vh;
  align-items: center;
  /* justify-content: center; */
  /* min-height: 100vh; */
}
.heading::before {
  background: var(--heading-background) no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center center;
  opacity: 0.4;
}

.heading__title {
  position: relative;
  font-family: fantasy;
  top: 34%;
}

.icon__group {
  display: flex;
  align-items: center;
  width: 18%;
  justify-content: space-around;
  position: relative;
  top: 32%;
}

.cakeresume__icon img {
  max-width: 180px;
  max-height: 180px;
}

.github__icon img {
  max-width: 50px;
  max-height: 50px;
}
